
body{
	background: url(../phon/fon.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
img{
	margin-left: 100px;
}
h1 {
	display: block;
	margin: 100px;
	color: red;
	margin-bottom: 0px;
	margin-top: 2px;
	margin-left: 200px;
}

p {
	color: black;
	margin-left: 200px;
	margin-right: 1100px ;
	font-size: 30px;
	
	
}
a {
	font-size: 30px;
	margin-left: 200px;
	text-decoration: none;
	color: yellowgreen;
}
.inf {
	margin-left: 150px;
	color: yellowgreen;
	text-decoration: none;
}
.try{
	font-size: 30pxs;
}

@media (max-width: 1440px) {
	p	{
		font-size: 25px;
		margin-right:600px;
	}
	a {
		font-size: 25px;
	}
	.inf {
		font-size: 25px;
	}
}
@media (max-width: 1024px) {
	p	{
		font-size: 22px;
		margin-right:500px;
	}
	a {
		font-size: 22px;
	}
	.inf {
		font-size: 22px;
	}
    img {
		width: 290px;
		height: 190px;
		}

}
@media (max-width: 768px) {
	p	{
		font-size: 20px;
		margin-right:300px;
	}
	a {
		font-size: 20px;
	}
	.inf {
		font-size: 20px;
	}
    img {
		width: 250px;
		height: 150px;
		}

}

@media (max-width: 450px) {
	h1 {
		font-size: 59px;
		margin-left: 50px;
	}
	p	{
		font-size: 15px;
		margin-right:200px;
		margin-left: 50px;
	}
	a {
		font-size: 15px;
		margin-left: 50px;
	}
	.inf {
		font-size: 15px;
		margin-left: 50px;
	}
    img {
		width: 70px;
		height: 70px;
		margin-left: 50px;
		}

}
@media (max-width: 375px) {
	h1 {
		font-size: 10px;
		margin-left: 0px;
	}
	p	{
		font-size: 10px;
		margin-right:100px;
		margin-left: 0px;
	}
	a {
		font-size: 10px;
		margin-left: 0px;
	}
	.inf {
		font-size: 15px;
		margin-left: 10px;
	}
    img {
		width: 70px;
		height: 70px;
		margin-left: 0px;
		}

}
.hello {
	font-size: 45px;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;

}
@keyframes .hello{
	0%{
 left: 20px; 
	}
	100%{
right:20px	
    }
}